<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN""http://www.w3.org/TR/REC-html40/frameset.dtd">
<html> 
<head>
<style type="text/css">
a:link {
    text-decoration: none;
}
</style>
</head>
<TMPL_INCLUDE NAME="header.tmpl">
<hr /> 
<h2>Package <TMPL_VAR NAME=PACKAGE_NAME></h2> 
<br /> 
<TMPL_IF NAME=HAS_BASE_CLASSES> 
<pre id="base-classes">
<TMPL_LOOP NAME=BASE_CLASSES> 
<b><TMPL_VAR NAME=BASE_CLASS_NAME></a></b>
</TMPL_LOOP> 
  |
  +--<b><TMPL_VAR NAME=PACKAGE_NAME></b> 
</pre>
<TMPL_ELSE> 
<b><TMPL_VAR NAME=PACKAGE_NAME></b> 
</TMPL_IF> 
<hr /> 
Public Package <TMPL_VAR NAME=PACKAGE_NAME> 
<TMPL_IF NAME=HAS_BASE_CLASSES> 
<TMPL_LOOP NAME=BASE_CLASSES><br />
&nbsp;&nbsp;&nbsp;&nbsp;extends <a href="<TMPL_VAR NAME=BASE_CLASS_HREF>"><TMPL_VAR NAME=BASE_CLASS_NAME></a>
</TMPL_LOOP> 
</TMPL_IF> 
<TMPL_VAR NAME=PACKAGE_POD> 
<hr /> 
<table border="1" width="100%" bordercolor="#000000">
<TMPL_IF NAME=HAS_SCALARS> 
  <tr id="scalars" bgcolor="#ccccff"><td colspan="3"><TMPL_INCLUDE NAME="scalars.tmpl"></td></tr>
</TMPL_IF> 
<TMPL_IF NAME=HAS_ARRAYS> 
  <tr id="arrays" bgcolor="#ccccff"><td colspan="3"><TMPL_INCLUDE NAME="arrays.tmpl"></td></tr>
</TMPL_IF> 
<TMPL_IF NAME=HAS_HASHES> 
  <tr id="hashes" bgcolor="#ccccff"><td colspan="3"><TMPL_INCLUDE NAME="hashes.tmpl"></td></tr>
</TMPL_IF> 
<TMPL_IF NAME=HAS_IO_HANDLES> 
  <tr id="io_handles" bgcolor="#ccccff"><td colspan="3"><TMPL_INCLUDE NAME="io_handles.tmpl"></td></tr>
</TMPL_IF> 
<TMPL_IF NAME=HAS_PUBLIC_FUNCTIONS> 
  <TMPL_INCLUDE NAME="public_functions.tmpl">
</TMPL_IF> 
<TMPL_IF NAME=HAS_PRIVATE_FUNCTIONS> 
  <TMPL_INCLUDE NAME="private_functions.tmpl">
</TMPL_IF> 
</table> 
<hr /> 
<TMPL_IF NAME=HAS_FUNCTION_PODS>
  <TMPL_INCLUDE NAME="pod.tmpl">
</TMPL_IF> 
<TMPL_INCLUDE NAME="footer.tmpl">
</html> 
