<html> 
<TMPL_INCLUDE NAME="header.tmpl">
<hr /> 
<h2>Package <TMPL_VAR NAME=PACKAGE_NAME></h2> 
<br /> 
<pre> 
<TMPL_IF NAME=HAS_BASE_CLASSES> 
<TMPL_LOOP NAME=BASE_CLASSES> 
<b><TMPL_VAR NAME=BASE_CLASS_NAME></b> 
</TMPL_LOOP> 
  |
  +--<b><TMPL_VAR NAME=PACKAGE_NAME></b> 
<TMPL_ELSE> 
<b><TMPL_VAR NAME=PACKAGE_NAME></b> 
</TMPL_IF> 
</pre> 
<hr /> 
public Package <TMPL_VAR NAME=PACKAGE_NAME> 
<TMPL_IF NAME=HAS_BASE_CLASSES> 
<TMPL_LOOP NAME=BASE_CLASSES> 
extends <TMPL_VAR NAME=BASE_CLASS_NAME> 
</TMPL_LOOP> 
</TMPL_IF> 
 
<TMPL_VAR NAME=PACKAGE_POD> 
<hr /> 
<TMPL_IF NAME=HAS_SCALARS> 
<table border="1" width="100%"> 
  <tr bgcolor="#CCCCFF"> 
    <td><font size="+2"><b>Scalars</b></font></td> 
    <td> 
      <TMPL_LOOP NAME=SCALARS> 
        <TMPL_VAR NAME=SCALAR> 
      </TMPL_LOOP> 
    </td> 
  </tr> 
</table> 
<br /> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_ARRAYS> 
<table border="1" width="100%"> 
  <tr bgcolor="#CCCCFF"> 
    <td><font size="+2"><b>Arrays</b></font></td> 
    <td> 
      <TMPL_LOOP NAME=ARRAYS> 
        <TMPL_VAR NAME=ARRAY> 
      </TMPL_LOOP> 
    </td> 
  </tr> 
</table> 
<br /> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_HASHES> 
<table border="1" width="100%"> 
  <tr bgcolor="#CCCCFF"> 
    <td><font size="+2"><b>Hashes</b></font></td> 
    <td> 
      <TMPL_LOOP NAME=HASHES> 
        <TMPL_VAR NAME=HASH> 
      </TMPL_LOOP> 
    </td> 
  </tr> 
</table> 
<br /> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_IOS> 
<table border="1" width="100%"> 
  <tr bgcolor="#CCCCFF"> 
    <td><font size="+2"><b>IOs</b></font></td> 
    <td> 
      <TMPL_LOOP NAME=IOS> 
        <TMPL_VAR NAME=IO> 
      </TMPL_LOOP> 
    </td> 
  </tr> 
</table> 
<br /> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_FUNCTIONS> 
<table border="1" width="100%"> 
  <tr bgcolor="#CCCCFF"> 
    <td colspan="3"><font size="+2"><b>Functions</b></font></td> 
  </tr> 
  <tr> 
    <td><b>Function Name</b></td> 
    <td><b>Details</b></td> 
    <td><b>Inherited From</b></td> 
  </tr> 
  <TMPL_LOOP NAME=IOS> 
  <tr> 
    <td><TMPL_VAR NAME=FUNCTION_NAME></td> 
    <td><TMPL_VAR NAME=FUNCTION_POD></td> 
    <td><a href="<TMPL_VAR NAME=BASE_CLASS_FUNCTION_LINK>"><TMPL_VAR NAME=BASE_CLASS_FUNCTION_LINK_NAME></a></td> 
  </tr> 
  </TMPL_LOOP> 
</table> 
</TMPL_IF> 
<hr /> 
<TMPL_INCLUDE NAME="footer.tmpl">
</html> 
