<html> 
<TMPL_INCLUDE NAME="header.tmpl">
<hr /> 
<h2>Package <TMPL_VAR NAME=PACKAGE_NAME></h2> 
<br /> 
<pre> 
<TMPL_IF NAME=HAS_BASE_CLASSES> 
<TMPL_LOOP NAME=BASE_CLASSES> 
<b><TMPL_VAR NAME=BASE_CLASS_NAME></b> 
</TMPL_LOOP> 
  |
  +--<b><TMPL_VAR NAME=PACKAGE_NAME></b> 
<TMPL_ELSE> 
<b><TMPL_VAR NAME=PACKAGE_NAME></b> 
</TMPL_IF> 
</pre> 
<hr /> 
public Package <TMPL_VAR NAME=PACKAGE_NAME> 
<TMPL_IF NAME=HAS_BASE_CLASSES> 
<TMPL_LOOP NAME=BASE_CLASSES> 
extends <TMPL_VAR NAME=BASE_CLASS_NAME> 
</TMPL_LOOP> 
</TMPL_IF> 
 
<TMPL_VAR NAME=PACKAGE_POD> 
<hr /> 
<TMPL_IF NAME=HAS_SCALARS> 
<table border="1" width="100%"> 
  <tr bgcolor="#CCCCFF"> 
    <td colspan="3">
        <font size="+2"><b>Scalars: </b></font>
        <TMPL_LOOP NAME=SCALARS> 
          <TMPL_VAR NAME=SCALAR>
        </TMPL_LOOP> 
    </td> 
  </tr> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_ARRAYS> 
  <tr bgcolor="#CCCCFF"> 
    <td colspan="3">
        <font size="+2"><b>Arrays: </b></font>
        <TMPL_LOOP NAME=ARRAYS> 
          <TMPL_VAR NAME=ARRAY> 
        </TMPL_LOOP> 
    </td> 
  </tr> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_HASHES> 
  <tr bgcolor="#CCCCFF"> 
    <td colspan="3">
        <font size="+2"><b>Hashes: </b></font>
        <TMPL_LOOP NAME=HASHES> 
          <TMPL_VAR NAME=HASH> 
        </TMPL_LOOP> 
    </td> 
  </tr> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_IOS> 
  <tr bgcolor="#CCCCFF"> 
    <td colspan="3">
        <font size="+2"><b>IOs: </b></font>
        <TMPL_LOOP NAME=IOS> 
          <TMPL_VAR NAME=IO> 
        </TMPL_LOOP> 
    </td> 
  </tr> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_PUBLIC_FUNCTIONS> 
  <tr bgcolor="#CCCCFF"> 
    <td colspan="3"><font size="+2"><b>Public Functions</b></font></td> 
  </tr> 
  <tr> 
    <td><b>Function Name</b></td> 
    <td><b>Is Overridden</b></td>
    <td><b>Inherited From</b></td> 
  </tr> 
  <TMPL_LOOP NAME=PUBLIC_FUNCTIONS> 
  <tr> 
    <td><a href="<TMPL_VAR NAME=FUNCTION_NAME_ANCHOR_HREF>"><TMPL_VAR NAME=FUNCTION_NAME></a></td>
    <td><TMPL_VAR NAME=FUNCTION_OVERRIDDEN></td>
   <td><a href="<TMPL_VAR NAME=BASE_CLASS_FUNCTION_HREF>"><TMPL_VAR NAME=BASE_CLASS_FUNCTION_NAME></a></td> 
  </tr> 
  </TMPL_LOOP> 
</TMPL_IF> 
<TMPL_IF NAME=HAS_PRIVATE_FUNCTIONS> 
  <tr bgcolor="#CCCCFF"> 
    <td colspan="3"><font size="+2"><b>Private Functions</b></font></td> 
  </tr> 
  <tr> 
    <td><b>Function Name</b></td> 
    <td><b>Is Overridden</b></td>
    <td><b>Inherited From</b></td> 
  </tr> 
  <TMPL_LOOP NAME=PRIVATE_FUNCTIONS> 
  <tr> 
    <td><a href="<TMPL_VAR NAME=FUNCTION_NAME_ANCHOR_HREF>"><TMPL_VAR NAME=FUNCTION_NAME></a></td>
    <td><TMPL_VAR NAME=FUNCTION_OVERRIDDEN></td>
    <td><a href="<TMPL_VAR NAME=BASE_CLASS_FUNCTION_HREF>"><TMPL_VAR NAME=BASE_CLASS_FUNCTION_NAME></a></td> 
  </tr> 
  </TMPL_LOOP> 
</TMPL_IF> 
</table> 
<hr /> 
<table>
  <TMPL_LOOP NAME=PUBLIC_FUNCTION_PODS>
  <tr>
    <td>
      <a name="<TMPL_VAR NAME=FUNCTION_NAME>"><TMPL_VAR NAME=FUNCTION_NAME></a>
    </td>
  </tr>
  </TMPL_LOOP>
  <TMPL_LOOP NAME=PRIVATE_FUNCTION_PODS>
  <tr>
    <td>
      <a name="<TMPL_VAR NAME=FUNCTION_NAME>"><TMPL_VAR NAME=FUNCTION_NAME></a>
    </td>
  </tr>
  </TMPL_LOOP>
</table>
<TMPL_INCLUDE NAME="footer.tmpl">
</html> 
